@page
@model MediaReviews.Pages.IndexModel

<h1 >Welcome to Media Reviews</h1>
<nav>
    <a asp-page="/ViewReviews" class="btn btn-success btn-sm">View Reviews</a>
    <a asp-page="/AddReview" class="btn btn-success btn-sm">Add Review</a>
</nav>
